[2021-08-28 16:36] DutchPete opened #3 "Duplicating numbers"
First of all thanks for a very useful, yet beautifully simple to use plug-in.

Before installing it I had the [*number headings*](https://github.com/onlyafly/number-headings-obsidian/) plug-in installed, which adds numbers to the headings in the text. Those numbers are then also shown in the Outline pane, useful for navigating long notes with many headings, which my main vault consists of.

When I

[2021-08-28 17:27] Aidurber commented on #3
I'll have to investigate this, I'm not sure what the best course of action is here. My presumption is that that the other plugin does this work at render, which means that when the ToC are generated it's reading the already updated headings.

I'll investigate to see what I can do, but I can't promise anything I'm afraid.

[2021-08-28 17:31] DutchPete commented on #3
I understand, and that is the reason why I have raised the issue with the other dev too.
Thanks for your consideration of the issue.

[2021-08-31 22:41] Write opened #4 "Embedded notes shows parent's Dynamic Table of Content"
As the title state, if an embedded note have a DoC, it's the parent's DoC that is injected on top of the embedded note instead of the embedded note DoC itself.
Also, an option to hide embedded notes DoC would be cool.

[2021-09-01 07:32] Aidurber commented on #4
Interesting, thanks for sharing @Write. Could you please upload a screenshot to this issue, please?

[2021-09-01 14:14] Write commented on #4
Can't easily screenshots because i'm too lazy to strip down private informations, but i tried to open two pans, and embed the second pan into the first one an both have a Dynamic Toc, the second Pan will update with the first pan's dynamic toc too.

[2021-09-03 19:39] lawweiliang opened #5 "Could not find this plugin over community plugin?"
Hi @Aidurber, <br>

Thanks for your time in creating such amazing plugins.

I am trying to search `obsidian-plugin-dynamic-toc` over the search box, nothing seems to show up.

### Print Screen
![image](https://user-images.githubusercontent.com/34936929/132057677-d6fc8ba7-e880-4822-adbc-f96e0f64b279.png)

[2021-09-03 20:06] nkoder commented on #5
I think here you can see PR which adds `obsidian-plugin-dynamic-toc` to that searchable list 👉  https://github.com/obsidianmd/obsidian-releases/pull/449 . It's not merged yet.

[2021-09-04 09:53] Aidurber commented on #5
@nkoder Is right, it's still in code review. The reviewer found some problems that I need to get around to fixing.

[2021-09-04 09:53] #5 closed

[2021-09-06 08:02] Ravenclawer opened #6 "the content of a dynamic table could be influenced by other note if you open multiple notes in split view"
When you create a dynamic table of content in a note and switch to another note in the split pane to create another dynamic table, the content of the previous dynamic table in the note you create before will be changed and have the content of the second dynamic table.
the picture below would be self-explanatory.
![image](https://user-images.githubusercontent.com/73892411/132181941-bed68049-9c45-44

[2021-09-06 12:52] Aidurber commented on #6
Thanks for raising this. The architecture of this plugin needs work, and is not officially released yet. I've been hacking away at it but I'm a little stuck on an issue, I've just asked the reviewer for some guidance for my last hurdle (re-rendering after settings have been saved).

You can see the PR/code review to add it as an official release here: https://github.com/obsidianmd/obsidian-release

[2021-09-07 02:10] lawweiliang commented on #5
Noted @nkoded and @Aidurber.

[2021-09-09 10:38] Aidurber commented on #6
Now that I understand this issue it's a duplicate of #4 Closing this in favour of that.

[2021-09-09 10:38] #6 closed

[2021-09-09 10:39] Aidurber commented on #4
This should be fixed in version 0.0.10. Please feel free to download that release whilst this is still in code review.

[2021-09-09 18:29] Aidurber commented on #4
It's been approved. I'm not sure when that becomes available to download as a community plugin.

[2021-09-09 18:29] #4 closed

[2021-09-12 10:39] Aidurber commented on #3
@DutchPete Upon looking into how number headings. I don't think either library needs to add compatibility with each other.
This issue you're facing can be tackled with a CSS snippet.

[code]

1. In your vault, create a CSS snippet "[vault]/.obsidian/snippets/toc-compat.css"
2. Paste the above CSS snippet I've provided
3. Go to Settings -> Appearance
4. Scroll to CSS Snippets at the bottom
5. Hit t

[2021-09-12 11:10] DutchPete commented on #3
Yep, that works fine, Andrew.
I also agree that with such a simple solution there is no need to bother the other creator with a request for convoluted programming !
Many thanks for your help and patience.

[2021-09-12 13:04] Aidurber commented on #3
@DutchPete I'm glad that solution works for you! Thanks!

[2021-09-12 13:04] #3 closed

[2021-09-17 13:33] hisaito opened #7 "Position of TOC is strange after exporting PDF"
The position of TOC is different between preview and PDF.
The position in preview mode is correct, and the position in PDF is wrong.

[2021-09-19 12:23] Aidurber commented on #7
I'm going to need an example:
1. Which syntax are you using? ```toc or "External Rendering"
2. A screenshot

Here's what it looked for me which is correct.

![image](https://user-images.githubusercontent.com/5732291/133927291-febf2cee-5f9e-4b0c-ab3f-83653a024ccd.png)

[2021-09-24 11:41] korm opened #8 "Need to switch away from active note then back, to activate the TOC"
Thank you for this plugin!! Exactly what Obsidian needs.

I notice that if I insert the code block then I have to switch away the focus from the active note then back to it in order to make the table of contents appear.

[2021-09-24 11:42] korm opened #9 "Additional rendering support requests"
DEVONthink uses this format for table of contents -- please support it:

{{toc}}

TheBrain uses this format for table of contents -- please support it:

[/toc/]

[2021-09-24 13:33] Aidurber commented on #8
Hi @korm I'm glad you like it! I like it too, I use it constantly 😁

Yes I've noticed this too but could never track it down. I'll take a deep dive tomorrow.

[2021-09-24 13:33] #9 closed

[2021-09-24 13:37] Aidurber commented on #9
Thanks for listing these. That should now be live in version 0.0.12

[2021-09-24 13:44] korm commented on #9
Thanks for the quick update @Aidurber !!  I wish you had a  [Buy Me a Coffee](https://www.buymeacoffee.com/) page.

[2021-09-24 13:50] korm opened #11 "Possible to recognize whatever TOC convention appears in the document"
@Aidurber added a couple of useful conventions for TOC markup.

I wonder if it would be possible if the plugin would add a TOC when  _**any**_ of the recognized conventions were present in the document.  So, if I imported a file from DEVONthink and used the DEVONthink `{{toc}}` syntax it would be recognized, and then if I imported a file from some place else that used a different syntax, then the

[2021-09-24 13:57] Aidurber commented on #11
I think that would be possible. I think we would have to add a new option "Support all renderers" to make it opt-in. Good suggestion, I'll add it to the backlog!

[2021-09-24 14:00] Aidurber commented on #9
This is just a hobby for me, I can pick it up and stop when I want to. When money crosses hands it stops being a hobby and there is an implicit obligation.

I really appreciate it, but a promise you a "thank you" is more than enough for me, I just like making tools 😄

[2021-09-24 15:05] #11 closed

[2021-09-24 15:07] Aidurber commented on #11
This should be live in version 0.0.13

[2021-09-24 16:02] riuson commented on #8
![Untitled Project](https://user-images.githubusercontent.com/415202/134706029-77979111-a07d-47fe-b962-9b07be86a3da.gif)

[2021-09-25 00:44] jiaochenglong opened #13 "After version 0.0.13 is updated, some notes will disappear in preview mode"
After version 0.0.13 is updated, some notes will disappear in preview mode

[2021-09-25 09:45] Aidurber commented on #13
I was unable to reproduce the issue you had but there was a nasty bug lurking that I've hot fixed. Can you update to 0.0.14 and let me know if you encounter any issues.

[2021-09-25 09:56] realityvrc commented on #13
After Obsidian-Kanban updated from version 1.0.15 to version 1.0.20 it started ti throw an error on any non-empty kanban.
I did some digging and it turns out it conflicts with Dynamic Table Of Contents plugin (v0.0.13)
Disabling Dynamic Table Of Contents plugin or rolling back Dynamic Table Of Contents plugin to version 0.0.11
or rolling back Obsidian-Kanban to 1.0.15 fixed the issue.

Update: Ins

[2021-09-25 10:00] Aidurber commented on #8
Thanks for the demo @korm!

I broke down your gif into steps:
1. Add a header
2. Switch to preview
3. Switch back to edit
4. Split the note (in edit mode)
5. Add another heading
6. On the split window change to preview
7. Add another heading. ToC doesnt update

I still couldn't reproduce the issue.
- Can you still reproduce this on version 0.0.14?
- Can you screenshot your settings, please?

Also,

[2021-09-25 10:02] Aidurber commented on #13
Thanks @realityvrc! Yeah the bug was really dumb and I'm sorry about that!

[2021-09-25 11:07] korm commented on #8
It was @riuson who posted the GIFs.

[2021-09-25 12:14] Aidurber commented on #8
Oops 😅

[2021-09-27 10:24] #13 closed

[2021-09-27 10:24] #7 closed

[2021-10-04 12:53] Aidurber commented on #8
Closing, I can't reproduce it. Please comment with reproduction steps and I'll re-open.

[2021-10-04 12:53] #8 closed

[2021-10-12 06:07] swehba opened #14 "Plugin no longer working"
Has something changed recently that could cause the plugin to no longer work? I tried the examples and none of then generate a TOC when I switch to preview for the page/note. It used to work great.

[2021-10-12 07:04] Aidurber commented on #14
@swehba I'm unsure if it was the root cause of your issue, but I did find a problem that would cause errors to occur and therefore stop rendering the contents. Please update to 0.0.15, reload obsidian and test it out.

[2021-10-12 07:04] #14 closed, assigned to nobody

[2021-10-12 12:00] gfidias opened #16 "Dynamic Table of Contents: styles.css not found"
Dynamic table of contents version 0.0.15

app.js:1 GET https://github.com/aidurber/obsidian-plugin-dynamic-toc/releases/download/0.0.15/styles.css 404
m @ app.js:1
(anonymous) @ app.js:1
window.ajaxPromise @ app.js:1
t.ajaxCorsBypass @ app.js:1
(anonymous) @ app.js:1
(anonymous) @ app.js:1
(anonymous) @ app.js:1
s @ app.js:1
Promise.then (async)
l @ app.js:1
s @ app.js:1
Promise.then (async)
l @ a

[2021-10-12 12:02] gfidias opened #17 "Conflict with dataview?"
After installing version 0.0.15, pages with dataview blocks don't update or don't display preview at all.

[2021-10-12 12:37] Aidurber commented on #17
Can you provide a brief example please?

[2021-10-12 12:37] Aidurber commented on #16
Minor, it doesn't break anything it's noise.

[2021-10-12 13:00] gfidias commented on #17
This block used to produce many results, now it only gets one (see attached image)

# Projects

[code]
![1](https://user-images.githubusercontent.com/23036873/136960926-a9b130b3-7177-4646-be3b-0a5539e706a8.jpg)

Also, I get these errors:

main.ts:32 Uncaught TypeError: Cannot read property 'className' of null
    at EmbeddedCodeTitlePlugin.insertFileNamesIntoCodeBlocks (eval at <anonymous> (app.js

[2021-10-18 13:04] manfredbjorlin opened #18 "Export do PDF does not create document links"
When exporting to PDF from Obsidian the TOC does not appear to be document links in the same way as when making footnotes.

[2021-11-03 01:35] zhl111 opened #19 "Is it normal for this prompt to appear repeatedly in the console?"
![image](https://user-images.githubusercontent.com/29135984/139980251-ed6bfd76-8999-4864-a043-166d3c6500db.png)

[2021-11-03 15:05] Aidurber commented on #19
Yep, those are used to help debug. If a user experiences slow performance, this will help identify _how slow_.

[2021-11-03 15:05] #19 closed

[2021-11-03 19:32] Aidurber commented on #18
Hi @manfredbjorlin, I've finally got around to looking into this. Just going to do a brain dump.

When Obsidian converts the markdown into HTML, it does not add an ID to the header elements.
<img src="https://user-images.githubusercontent.com/5732291/140179287-2748b757-ea99-4377-afed-ebda891724b0.jpg" alt="Header element HTML" width="500"  />

In order to link inside a document, the target element

[2021-11-04 14:37] Aidurber commented on #18
After much pain, I've discovered it's not possible at the moment.

It's a known issue in Obsidian that same document links aren't functional in PDFs. With the exception of footnotes (for some reason).

Source: https://forum.obsidian.md/t/pdf-export-make-links-within-same-document-functional/16384

In the mean time I'm afraid there isn't much we can do. I'm going to close. I've subscribed to that f

[2021-11-04 14:37] #18 closed

[2021-11-09 20:12] metruzanca opened #20 "Bug: [[_TOC_]] doesn't work"
Trying to get the `[[_TOC_]]` syntax working (which is mentioned in the readme) for compatibility with azure wikis, but it doesn't seem to work. Also in the settings menu it doesn't appear as an option, but looking at the source it appears to be mapped to __TOC__ but still doesn't seem to work
![image](https://user-images.githubusercontent.com/32832892/140997405-fd9d62a1-1818-45b7-9ab0-dfdae20b40c

[2021-11-10 08:14] Aidurber commented on #20
It's `[[__TOC__]]`, double underscores.

It'd be great if all of these markdown providers shared some syntax 😅 I'll mark this as a feature request and get this in.

[2021-11-10 08:19] #20 closed

[2021-11-10 08:21] Aidurber commented on #20
You should find this in 0.0.17. Remember after changing your setting, sometimes that settings requires you to reload obsidian.

[2021-11-15 19:52] metruzanca commented on #20
Yeah unfortunately everyone does their own thing instead of following a common syntax :(

Thanks for adding this. Works like a charm now!

[2021-11-24 16:36] mahoromax opened #22 "Add entry for command palette"
I keep forgetting how this TOC is embedded (on other platforms I need to use [[_TOC_]] or others)

So I think - especially for users new to markdown - it would be great to be able to open  the 'Command Palette' and add the TOC-entry like that.

It could also give an additional entry to help with the options, but I don't have an idea how that could be realized (except by pasting all options as comm

[2021-11-24 21:13] Aidurber commented on #22
Cool suggestion!

I think we'd need multiple commands or even like a drilldown, unsure if we get that out of the box:

Dynamic TOC - Insert Table of Contents -> Code block -> `your selected external renderer`

If you have "Support all renderers" selected, the list will list all of the supported patterns.

Yes, I'm liking this. I'll look into it.

[2021-11-30 08:36] #22 closed

[2021-11-30 08:38] Aidurber commented on #22
Released in 0.0.18

[2021-12-02 13:07] xeonz1 opened #24 "Header 1 ignored"
I have a header like
# Header1

it is ignored by the plugin

[2021-12-02 13:11] #24 closed

[2021-12-05 12:37] guocailee opened #25 "support the pane view"
Thank you for your awsome work.
Will this plugin support pane view in the future？

If not, may I make pull request to suppot it?

[2021-12-05 15:20] Aidurber commented on #25
I'm not entirely sure what you mean, if you mean adding something to the sidebar, you can already do this in Obsidian with Core Plugins -> Outline

![2021-12-05 15_18_59-Personal - Obsidian v0 12 19](https://user-images.githubusercontent.com/5732291/144752561-42c86f94-5361-49c5-84a4-d47043250e49.jpg)
![2021-12-05 15_19_08-Personal - Obsidian v0 12 19](https://user-images.githubusercontent.com/5732

[2021-12-06 01:07] guocailee commented on #25
Thanks, OutLine do it what i wanted.

[2021-12-06 01:08] #25 closed

[2021-12-16 07:13] Archie-2021 opened #26 "Having a jumps in heading levels ruins the indentation"
For example. I like to embed the TOC and some dataview metadata stuff at the top of my notes in a lvl4 heading so that I can fold it out of the way. But if I do that all the indentation above the lvl 4 get removed.

[2021-12-16 20:49] slsdunn opened #27 "incorrect linking to headings with same name"
first off, love the plugin

If I have (sub)headings with the same name eg

# Heading A
## Subheading a
# Heading B
## Subheading a

clicking on the TOC link for #B##a takes me to #A##a. This is an obsidian default linking thing where it just goes by heading name and has been brought up in the forum before (although I couldn't find it just now). The response was that best practice is to have unique

[2021-12-17 16:30] Aidurber commented on #27
So the problem is how Obsidian renders heading links. In HTML usually every heading should have its own unique ID
[code]
I did try to do this in the past to fix #18 and ran into some issues.

I think the solution is to generate a unique hash based on the header content + it's position in the tree. I've taken a step back from software development for a little while, I'll add this to my todo list. T

[2021-12-17 16:31] Aidurber commented on #26
Can you share with me an example + a screenshot if at all possible.

[2021-12-20 05:56] Archie-2021 commented on #26
Look how lvl1 heading shown at lvl2 becauae Toc on top of it starts at lvl2

![Screenshot 2021-12-20 092311.png](https://user-images.githubusercontent.com/85870778/146718586-aa49223d-9c62-47cf-84f2-930af47bcfb7.png)

![Screenshot 2021-12-20 092246.png](https://user-images.githubusercontent.com/85870778/146718593-a1dc03b8-0d08-43fd-9d22-76bc1deac6e1.png)

[2021-12-21 08:24] SebMoore opened #28 "Incorrect formatting when heading is an internal link with a custom name"
Obsidian provides support for creating internal links and displaying text for this link that is different to the name of the note you are linking to.
For example:
[[Example Link]] renders as <ins>Example Link</ins>, and links to the file "Example Link"
[[Example Link|Alt Text]] renders as <ins>Alt Text</ins>, but links to the same file, "Example Link".
This is useful for creating readable links wh

[2021-12-21 10:39] Aidurber commented on #28
Thank you for the really detailed bug report, it really helps me understand what's gone wrong and how to reproduce it. I've got a PR for this, I had to rewrite a bunch of stuff to make this work. I'll try and get it released today.

[2021-12-21 11:20] Aidurber commented on #26
### Short Answer
You cannot have a level 2 heading first in the document and then have a level 1 heading.

### Detailed Answer
I don't think this can be fixed. The first heading in a document should be the lowest (level 1). It's quite difficult to explain so hopefully images will help.

In this example, I moved toc to level 1, this fixed the indentation.
![CleanShot 2021-12-21 at 11 04 44@2x](http

[2021-12-21 11:20] #26 closed

[2021-12-21 14:21] #28 closed

[2021-12-21 14:23] Aidurber commented on #28
@SebMoore I've released 0.0.19, you can try the new extractor by going into settings and turning on "New heading extraction"

![CleanShot 2021-12-21 at 14 23 31@2x](https://user-images.githubusercontent.com/5732291/146945571-0d20e6f4-5610-4f1b-9754-5126565c8cd4.jpg)

Do you want to give it a go and let me know how it goes?

[2021-12-21 15:57] Archie-2021 commented on #26
Thanks for your detailed explanation, I agree that my use of heading here is a bit unconventional but the thing is that I like folding and unfolding and separating document in manageable and referenceable chunks a lot and it is the only heading that I can do it in markdown. I will use a first level heading at the top for putting front matter out of the way after this. it is going to be a bit distr

[2021-12-22 04:25] SebMoore commented on #28
@Aidurber it works perfectly - really appreciate all the effort you put into this.
Cheers!

[2021-12-22 08:56] Aidurber commented on #28
Awesome @SebMoore, thanks for helping me test this. I'll ship it to every one 🙌

[2021-12-31 16:47] ThePresence opened #31 "[Feature Request] Prefixed title option."
Hi,

Thank you for this wonderful plugin, I just want to suggest a feature which is present in hipstersmoothie toc i.e. option to add Title prefix.

[2022-01-01 14:42] #31 closed

[2022-01-01 14:44] Aidurber commented on #31
Released in 0.0.22

[2022-01-02 15:28] tcsavage opened #33 "Spacing issue in live preview mode"
When using Obsidian's new Live Preview edit mode, the table of contents is _way_ more spaced-out when compared with reading mode (to an uncomfortable degree in my opinion). My expectation is that the TOC should look more-or-less the same spacing-wise between live preview and reader mode. Lists generated by other plugins (e.g. Dataview) do not exhibit this problem for me.

I've included a screensho

[2022-01-02 16:53] Aidurber commented on #33
Yeah, I noticed this too when testing out live preview. Didn't think much of it, I'll take a look to see if there is anything I can do. Thanks for the report

[2022-01-02 17:36] Aidurber commented on #33
I'm confused by this. I've generated a list with Dataview, and it's working fine. ToC still has massive gaps between everything.

I've compared the output HTML between DV and ToC and it's almost identical. The only difference being that links are wrapped in `span`, I tried that and it appeared the same. Even the CSS for the rendered elements is identical.

I also use the same mechanism that DV use

[2022-01-02 17:38] Aidurber opened #34 "External Renderers not working in Live Preview"
Obsidian makes post processors work in live preview, however this breaks the matcher. Because of the way content is output in code mirror, a renderer such as `[TOC]` doesn't appear in the document like that.

![image](https://user-images.githubusercontent.com/5732291/147884314-d340e608-4f62-49ef-b513-5b800fd76abd.png)

[2022-01-03 10:49] tcsavage commented on #33
Interesting. I don't use dataview a lot, but the problem hadn't yet presented to me in the couple of dataview blocks I use. Worth keeping an eye on. I appreciate you taking a look for me. Cheers!

[2022-01-11 17:07] chrisgrieser opened #35 "FR: Mixed List style"
Thanks for this plugin! I was about to write a longer dataviewjs query, but this plugin does the job much better anyway :)

I was wondering, is it possible to have an option in the settings / code block for mixed list styles? e.g. H2 numbered, but H3 bullets?

[2022-01-11 21:32] Aidurber commented on #35
Interesting, I'm not entirely sure I'll have to look into it, but in the mean time lets work through how it would work @chrisgrieser.

What happens with a structure like this:

H2 - Numbered
H3 - Bullets
H4 - ??
H2 - Numbered

Is it just the highest level going bullets and then numbered?

What would the settings look like for that?
[code]
We'd need a way to:
1. Differ from the existing styles that

[2022-01-12 00:19] chrisgrieser commented on #35
I'd say if you select a mixed list style, you have to specify for each heading level whether it is gonna be numbers or bullets.

[2022-01-15 19:38] marcinbojko commented on #34
I'll be watching closely this issue and a possible fix, as your plugin is amazing, used by me all the time, but Live Preview cracks TOC the way you presented

[2022-01-17 10:02] tcsavage commented on #33
Based on [a comment on the dataview issue](https://github.com/blacksmithgu/obsidian-dataview/issues/743#issuecomment-1007879013) I created a CSS snippet which fixes the problem for me:

https://gist.github.com/tcsavage/baee0634e6041d6f9773076d12b1e419

Basically copy-and-paste from the [Admonition CSS](https://github.com/valentine195/obsidian-admonition/blob/ebc55b1a3454e7b0cc2949e3278bcc0f91d4a9f

[2022-01-17 15:50] Aidurber commented on #33
@tcsavage I've release 0.0.23, that seems to have resolved the issue. I'm going to close this ticket, feel free to comment again if you still experience issues with it.

[2022-01-17 15:50] #33 closed

[2022-01-20 09:33] Gewerd-Strauss opened #37 "Forcing tight newline-spacing in TOC"
Hello,

I have a small question, as the code you use in your reame

![image](https://user-images.githubusercontent.com/80548781/150311622-149e4186-17ab-4680-b12d-4a527d43cc55.png)

doesn't seem to work on my end. Fresh install, settings are the following:

![image](https://user-images.githubusercontent.com/80548781/150312019-55c8477c-7e2a-4631-9ff2-8620966e606b.png)

This is the result on my end:

[2022-01-28 21:27] EKliptus opened #38 "The headers do not render correctly when the whole hierarchy is not respected."
Yes it is very bad to skip a level of heading !
But if I can, I do it ! And the official obsidian plan view render it properly...
Example, for this document :
[code]
Note that the `### Level 2` heading is skipped.

The dynamic toc render this :
`o Level 1 - Level 3`

Thanks for your plugin, it's very useful.

[2022-01-30 09:00] Aidurber commented on #38
I think I understand you and I can reproduce it.

![image](https://user-images.githubusercontent.com/5732291/151693352-bb208fb4-73e0-48f7-9f92-f2ed16242714.png)

I'll try and get around to this tomorrow.

[2022-01-30 09:04] Aidurber commented on #37
Hi @Gewerd-Strauss,

I'm afraid I can't reproduce this.

1. Are you using the Live Preview feature in Obsidian?
2. Can you reproduce this on the latest version 0.0.23? I'm thinking your issue is the same as #33

My theory is some custom CSS rule. Can you tell me which theme you are using?

Below are 2 screenshots:
- Default Obsidian Theme
- Things Theme
![2022-01-30 09_03_50-Debug - Obsidian v0 13

[2022-01-30 09:09] Aidurber commented on #35
I think this would make this project much more complicated, having a different setting for each level. I'll look into doing something just to configure the top most level.

1. If you set "style" to bullet
2. And you set "varied_layout" to true
3. Then the first level will be bullet and the rest will be number and vice versa.

Then if that works, that is our MVP. I can then play around with the imp

[2022-01-30 09:12] Aidurber commented on #16
Gonna close this, we now have a styles.css file since 0.0.23

[2022-01-30 09:12] #16 closed

[2022-01-30 09:13] Aidurber commented on #17
I'm still unable to reproduce this, I'm gonna close. Please re-open or create a new ticket if any more issues arise.

[2022-01-30 09:13] #17 closed

[2022-01-30 19:04] Gewerd-Strauss commented on #37
This is interesting.

I am using the  [Shimmering Focus](https://github.com/chrisgrieser/shimmering-focus) theme. Well, I am using four themes, depending on vault. However, when I created this issue I previously tested it on all my themes (including default), with the same problem happening across all vaults, themes and combinations.

Now, I just did so again since you cannot reproduce it.

No mat

[2022-01-30 19:04] #37 closed

[2022-01-31 08:30] Aidurber commented on #37
I'm glad to hear @Gewerd-Strauss, thanks for keeping me updated!

[2022-02-01 09:03] #38 closed

[2022-02-01 09:04] Aidurber commented on #38
# Problem

Okay so I dug into this issue and the problem is that it cannot produce valid markdown if the heading levels have more than 1 level between the parent and the child.

What I mean by this is a level 2 heading followed by a level 4 heading.
[code]

Opposed to treating headers as they should be (offering lexical meaning to a document, see #26)
[code]

# Solution
I managed to come up with a

[2022-02-01 09:12] Aidurber commented on #27
I've taken another look at this and I'm not sure if it can be done with the current Obsidian API, at least with the solution I have in mind:

1. In the post processor assign a unique and deterministic hash to each heading based on level and text content. Add this as an ID to the heading element.
2. When we generate the markdown ToC, deterministically generate the hash for a heading
3. In the produ

[2022-02-02 01:19] ag1410 opened #41 "Using dynamic toc causes some parts of the file uneditable"
I have a file in which I am using headings and sub-headings as well as images. When using the dynamic toc to generate a table of contents at the top, some bulleted and indented bulleted text was rendered uneditable. I wasn't even able to select the text. the cursor would just jump to the last part of the last heading in the page

[2022-02-02 01:33] charlesroper opened #42 "Feature request: Inline links"
Love this!

Just wondering if it would be possible to add an `inline` option to the styles? This would render a navbar style ToC, something like this:

`Item 1  |  Item 2  |  Item 3  | Item 4`

Perhaps let people specify the delimiter, too?

Here is what the header of my daily notes look like. The to-do and notes links are generated by dynamic toc. You can see why I immediately wanted an inline To

[2022-02-02 08:15] Aidurber commented on #41
1. Are you using the codeblock approach "```toc" or the external renderers?
2. Is this happening in live preview or just in full preview?
3. Can you provide an example document so I can try and replicate the issue?
4. Are you on the latest version of the plugin?

[2022-02-02 08:19] Aidurber commented on #42
Hmm, one part of me saying "it's not really in the scope of this project", and the other is saying "it's just a new style"

Leave it with me and I'll see what I can do.

[2022-02-02 08:56] #42 closed

[2022-02-02 09:05] Aidurber commented on #42
Released in 0.0.25

[2022-02-02 09:24] #35 closed

[2022-02-02 09:25] chrisgrieser commented on #35
Thx 😄

[2022-02-02 09:26] Aidurber commented on #35
Released MVP in 0.0.26, let me know if that's all good for you @chrisgrieser

[2022-02-02 12:10] charlesroper commented on #42
Haha, wow, I posted this when I went to bed (was thinking about tomorrow's daily) and when I get back to my computer next day, you've already pushed the change. ❤️

Have just tried it and it works perfectly. Thank you!

[2022-02-02 15:56] chrisgrieser commented on #35
works as intended 👍

[2022-02-02 19:43] af4jm opened #45 "Markdown in headings rendered as plain text in TOC"
I noticed this using `[[_TOC_]]`, but earlier today I switched to the code block syntax and updated to the latest plugin version, and I'm still seeing the behavior... below screenshots are with the code block syntax and plugin v 0.0.26

![image](https://user-images.githubusercontent.com/849948/152225218-0c8567ce-31dc-4b14-bdee-4b4e2dce0273.png)

screenshots of the bug:

![image](https://user-image

[2022-02-03 13:42] Aidurber commented on #45
I'm unable to reproduce this, can you provide me a sample document exactly how you have it setup. I can't make out what the actual bug is here.

[2022-02-03 21:19] af4jm commented on #45
sure, in the first screenshot, there's italics in the headers

[code]

should render in the TOC as `C1: Inappropriate Information` (probably with the italics) not `C1: *Inappropriate Information*`

in the second one there's a link in the header

[code]

should render in the TOC as `click here` but instead renders as `[click here](./README.md)`

[2022-02-04 08:41] Aidurber commented on #45
Thanks for breaking that down, it helps a lot.

- Italics in header: I'm gonna mark that as a "wont fix", the markdown created by this plugin just gets fed into Obsidians markdown renderer. I would possibly need to build my own markdown renderer to patch that bug.
- I might be able to do something about the link issue. I can reproduce this when I disable "Use [[Wikilinks]]" in Settings -> Files &

[2022-02-04 13:27] af4jm commented on #45
good points, I have wikilinks disabled because I use VSCode on the desktop, with Obsidian in the background for syncing... now that I'm paying more attention, I see the same issues in the page outline view... maybe I should report that, because if it's fixed it might resolve both issues here as well?

[2022-02-10 08:45] LuoJimyang commented on #41
Hello, Aidurber!
I met the same issue too.
But it's so strange that the issue is fixed after I delete a large chunk of text(no the text been frozen) and restore it by using CMD+Z, the text that was frozen can be edited again.
Here is a reply to your comment.
1. I use codeblock. Below is my codeblock.
[code]
2. Happening in live preview.  I can edit other text, so I think I am in live preview. Full

[2022-02-10 09:32] LuoJimyang commented on #41
I met this issue again. The text in the screenshot with red box cannot click by left mouse button.
![image](https://user-images.githubusercontent.com/86758544/153377275-4a6e5167-c11a-4a30-bdad-4a9c1c77b94f.png)

I make a screenrecord. You can check it.
They are frozen and cannot be selected by mouse, but can use keyboard ← & → to select.

https://user-images.githubusercontent.com/86758544/15337849

[2022-02-10 16:34] Aidurber commented on #41
@LuoJimyang That's extremely helpful, thank you for sharing such detailed reproduction steps. I'll try and make some time to dig into this.

[2022-02-11 03:12] future0906 commented on #33
Hi, this problem still occur in new release plugin(release-0.0.26)，and obsidian version is v0.13.23.

I had tried open with a complete new vault, and installed only toc plugins, theme using default(light/dark).That didn't fix.

I also tried tcsavage's snippets, still not work.Any idea?

[2022-02-11 03:31] future0906 commented on #33
This is odd problem.I don't think it's a css issue.
First, the gap is selectable, like pic below:
![image](https://user-images.githubusercontent.com/1061481/153533318-a5cef4e8-fe2b-400f-8ce7-2093a27addd8.png)

Second, I tried using console, editing <ol> html and remove all it's line break in html, it works, the gap is disappear.
![image](https://user-images.githubusercontent.com/1061481/153533395-

[2022-02-11 07:10] future0906 commented on #33
OK，I think I got the problem.It's similar to tcsavage's solution, but his css white-space attribute is only for <ul>, this is <ol>.

Problem solve by assign <ol>'s white-space attribute

[2022-02-19 06:18] Castleeee commented on #41
same question

[2022-02-25 03:18] liang-0131 opened #47 "Add option to switch between Obsidian and Github styles"
Thank you for the plugin, it's awesome!

I often work on Github docs and modified the plugin to support Github-styled TOC ([Some header](# some-header)).
I think it would be nice to have an option to switch between Obsidian and Github styles.

[2022-02-27 07:56] oslohes123 opened #48 "Changing note doesn't change TOC"
When I change a note from one to another in live preview the table of contents doesn't automatically change
This is fixed by clicking on the code block to "refresh" it or by putting into the preview mode in which case it is fine.
Can you make it so that it auto refreshes when you change notes
Here is a link to a video that shows this happening in action

https://mega.nz/file/IqYihL6T#FNKIaqaEWi9IN

[2022-03-05 08:45] #48 closed

[2022-03-05 08:53] Aidurber commented on #47
@liang-0131 This plugin doesn't support the _output_ of the markdown, it only works by leveraging the Obsidian markdown renderer. In other cases with external rendering support (see image), they work because things like Gitlab will take that token such as `__TOC__` and render a table of contents themselves.

I'm afraid you're stuck with the output. You might have more luck with https://github.com/

[2022-03-05 08:53] #47 closed

[2022-03-05 08:57] Aidurber commented on #48
Fixed in 0.0.27, let me know if it works for you.

[2022-03-05 09:03] Aidurber commented on #41
@LuoJimyang I'm afraid I can't reproduce the error. If I can't consistently reproduce the error I'm unable to make a fix. I'm sorry.

[2022-03-05 09:03] #41 closed

[2022-03-05 14:17] oslohes123 commented on #48
The original issue seems to be fixed, However it has created a new issue in that I can't create a new dynamic table of contents
The one in the video where it isn't working was created after updating the plugin.

The ones that worked before were created before updating the plugin

Uploading 2022-03-05 14-11-46.mp4…

[2022-03-05 14:58] Aidurber commented on #48
@oslohes123 Are you sure that's not because of the minimum header depth setting? You're adding level 1 headings here. I've just tested and I can't reproduce this issue when I use level 2+ headings.

![image](https://user-images.githubusercontent.com/5732291/156888716-51cd3e5f-ac56-43ae-8206-bc1327bda8bc.png)

[2022-03-05 15:01] oslohes123 commented on #48
Ah yes you are correct I didn't see that since I had it set before to 1 but it got changed upon updating, so yeah everything is working as intended, thanks for fixing

[2022-03-05 15:04] Aidurber commented on #48
No problem, glad it's all working!

[2022-03-06 01:47] Xieleilab opened #50 "can not show the first level heading"
wired,when i use this plugin and set ```toc``` in note, it can not show the  first level heading, only the other level headings appear

[2022-03-06 10:09] Aidurber commented on #50
Change the "Minimum header depth" setting to 1 or in the ```toc code block add the setting `min_depth: 1`

[2022-03-06 10:09] #50 closed

[2022-03-12 04:09] codysork opened #51 "Day Planner Plugin Features Breaks Dynamic TOC"
If a markdown file is linked to the Day Planner plugin with the Mermaid Gantt chart feature enable, this plugin will only show a table of contents for the Day Planner file contents on every single file that has a dynamic table of contents.

[2022-03-15 16:36] tprotopopescu opened #53 "Table of contents rendered for active pane, not the note it is for"
Since upgrading to obsidian 13.30 the plugin renders the table of contents for whichever note is active, not the note it is intended for.

To reproduce:

Add the table of contents to a note. Open another note in a new pane and switch to it. The table of contents will now show the headings from the active pane. Switch back to the note that has the toc and the headings switch back.

If you click on

[2022-03-16 10:10] claremacrae commented on #53
Thank you for logging this. I cane here to log the same issue.

I think that workaround only works if the doc with the toc block is not pinned.

If it is pinned, clicking on a link opens a copy of that document in a new pane, which I doubt is ever the intended behaviour.

[2022-03-17 12:26] asphaltbuffet commented on #45
I see a similar issue when putting icons in my headers. They don't get rendered appropriately. Seems like it's likely related to the rendering in TOC.

[2022-03-22 11:28] StephanReti opened #54 "Skip headings in toc"
Is it possible to skip the first n headings in the toc?

Many of my documents look somewhat like this (in this case I would like to exclude "This is the document title" and "Table of contents" from the toc):
<img width="527" alt="image" src="https://user-images.githubusercontent.com/54271246/159470551-adf9de5c-3c19-4877-a04a-a28b8eb64ab4.png">

My source looks like this:
[code]

[2022-03-22 11:39] Aidurber commented on #54
Make "This is the document title" and "Table of contents" level 1 heading, remove `min_depth: 1`, and update the settings page to make sure the min depth is 2.

[2022-03-22 11:39] #54 closed

[2022-03-22 11:49] StephanReti commented on #54
Thanks for the quick response. This is certainly a decent solution, however it would require to add a hashtag to every following heading, subheading, ... in the document.
Not that this is a particularly big problem, just a little inconvenience that "clutters" the document.

[2022-03-23 07:51] Aidurber commented on #53
This is a side-effect of the "fix" for #48. With Live Preview, it seems that code blocks share the same processor instance. I've put a few hours into this problem and I can't come up with a solution that fixes both this bug and #48.

Instead of rolling back the fix for #48 whilst I figure this out, I'm going to let this bug stay active since it's the lesser of two. Sorry for the delays I'm struggl

[2022-03-23 08:06] claremacrae commented on #53
Thanks for the update - much appreciated.

[2022-03-23 08:09] claremacrae commented on #53
Just had a thought. Are you on the Obsidian Discord?

I’m guessing other plugin authors may have been tripped up by this, and so whether it would be worth your describing the issue in the plugin-dev channel there?

[2022-03-23 08:16] Aidurber commented on #53
@claremacrae Yes, I did ask about it and it was suggested to create a code mirror plugin instead. However I'm going to see if I can find a solution that doesn't require me to rewrite this plugin.

[2022-03-23 08:17] claremacrae commented on #53
Understood - thanks.

[2022-03-23 08:49] claremacrae commented on #53
Just to note that on iOS it’s not just other open notes that affect the TOC contents. When Obsidian launches, the TOC blocks flash repeatedly, seemingly as each note in the vault is cached.

[2022-03-23 08:51] claremacrae commented on #53
Or maybe it’s as each note with a TOC a block is read?

[2022-03-23 16:18] tprotopopescu commented on #53
Thanks for the update! In a way, this is kind of a handy bug, since I get an automatic outline of whatever note I'm working on, assuming there is a note with a toc visible :)

[2022-04-03 00:47] lbgws2 opened #55 "generate a separate toc for each topics"
I want to put multiple topics in one note, which means that one note contains multiple note contents, and separate lines are used between multiple notes. When I want to generate toc for multiple notes, inline mode always generates all toc, which is not what I want. I want to generate a separate toc for each note.Or from another point of view, generate toc only for the current title and subordinate

[2022-04-03 19:58] BlissfulTarpon opened #56 "Is there a way to have TOC start with a single # and not the double ##?"
Hello and thank you for developping this. I just moved from Joplin, and there I had most of my title start with a single pound sign. My TOC there would pick this up as the first title but here I need two to have it recognized. Is there a way to change this behavior?

Example:
Joplin this would be

First Title
  Second

/# First Title

/## Second

But on Obsidian I get

Second

/# First Title

/##

[2022-04-04 14:44] Aidurber commented on #56
Yes, you can use the min depth setting.

[2022-04-04 14:44] #56 closed

[2022-04-14 15:36] rappie opened #57 "Navigating to heading with keyboard"
I use Obsidian with keyboard only. When I navigate my cursor to the TOC it changes into the code block, making it impossible to jump to the heading i want.

Any ideas how to do this? Thanks.

[2022-04-24 16:35] ramseylove opened #58 "Subheading links are not indenting under higher Headings in toc"
I just started to use this plugin, but I tried it on a few of my notes and found that it did not indent subheadings under top headings.
<img width="428" alt="ScreenShot_2022-04-24_103157@2x" src="https://user-images.githubusercontent.com/3958672/164986533-93d065be-fdb9-44ae-af67-6d52c8ebbaa8.png">

Each of these docs have levels of headings underneath each other, and would expect that a link to an

[2022-04-24 16:44] ramseylove commented on #58
Where it all went wrong... I put had a heading for table of Contents that was an h3... Once I changed this to an h1. All the formatting of the table of contents was fixed.  I figured this out while looking at the settings and found the "allow inconsistent heading levels" setting, and realized that inconsistent heading levels might be a cause for my issue.

[2022-04-24 16:44] #58 closed

[2022-04-30 09:50] Aidurber commented on #55
Whilst I do like this suggestion, this plugin aims to just be a standard table of contents without any non-standard magic involved.

[2022-04-30 09:50] #55 closed

[2022-04-30 09:52] Aidurber commented on #57
@rappie That sounds like an issue with Live Preview to me. All I can suggest is to disable live preview and see if that works.

[2022-04-30 09:58] #57 closed

[2022-05-01 18:52] rappie commented on #57
Thanks for the suggestion. It doesn't work but i'll manage without :smile:

[2022-05-04 15:51] spoon-m4a opened #59 "FR: Wikipedia style lists."
I really like the Number list style, but I wonder if it would be possible to have it in the Wikipedia style, where you have 1. for your main entry, and children would be prefixed with 1.1, 1.2, etc. I've attached an image for reference

![Number(Wiki style)](https://user-images.githubusercontent.com/104327991/166720595-36128210-7664-4f35-ae56-4892ad08e99a.jpeg)

[2022-05-04 18:26] eikelben opened #60 "TOC rendering at the bottom of the document when exported"
Placing `[TOC]` at the top of the document renders the table of contents as expected, however when exporting as a pdf, drops it to the bottom of the document.  Is it possible to render the table of contents at the top of the document as expected?

[2022-05-11 11:52] cjunekim opened #61 "Tab and space difference in code blocks"
Hi

Look at the following example:

[code]

If the indentation for options is made from a tab character, this isn't parsed at all and resorts to the default values. However, if the identation is made from spaces(4 spaces, for example), it gets parsed and works.

Is this expected?

[2022-05-12 07:53] Aidurber commented on #61
@cjunekim YAML (which is what makes up a code block) forbids tabs.

So use spaces. I'll update the examples in the README

[2022-05-12 07:53] #61 closed

[2022-05-13 11:52] looneyapache opened #62 "Mathjax Issues"
I think this is one of the best plugins but I'm not sure I'm using it correctly.

I tried using it on a few of my notes (where I had MathJax in the headings) and it didn't seem to work.

![image](https://user-images.githubusercontent.com/10562851/168277274-e1ffdb44-831e-4fc0-ae28-e987dea3d31f.png)

Apparently I should be using  MathJax in headings where they are interpreted as is  and displayed as

[2022-05-16 06:31] YIRU69 commented on #62
Same problem!

[2022-05-22 09:24] LespiletteMaxime commented on #60
I confirm same issue, when rendered TOC is at the end

[2022-05-22 11:45] LespiletteMaxime commented on #60
I found a dirty workaround, I encapsulate with callouts like this :

[code]

[2022-05-24 16:23] MILKMILKKING opened #63 "Suggest adding an option to turn off automatic directory updates."
Suppose currently note A is open, dynamic-toc is used at the beginning of note A
plug-in. Note B is referenced in note A. Suppose there are many headings in note B. When the mouse hovers over note B, the page will keep bouncing. So it is recommended that you add an option to turn off automatic updating of the table of contents.

[2022-05-25 01:32] MILKMILKKING commented on #63
Maybe add a hotkey to temporarily disable the Dynamic Table of Contents plugin.

[2022-05-25 15:39] Aidurber commented on #62
I think the root of the problem is similar to this issue #45. The problem is that the table of contents aren't modified by other plugins/post-processors. I'm not sure how to fix this, I think maybe increasing the `sortOrder` for the processors in this extension will allow other plugin to run before and then be ready to update the rendered markdown by this plugin

[2022-05-25 15:39] Aidurber commented on #63
Are you using live preview?

[2022-05-25 21:12] kevinawoo opened #64 "Generate TOC for "only this header" or "after TOC block""
Sometimes one section gets long enough that it's hard to read, or maybe we would like an overview of the sub headings headings.

For example:
[code]

Or the example of "After TOC Block"
[code]

[2022-05-27 05:08] clemens-holleis opened #65 "TOC of external page"
Hi!
It would be nice to have the option to set the `root` markdown file for the TOC.
example in file `overview.md` you could have:
[code]

---

since in the example above the links to `chapter_one.md` and  `chapter_two.md` would not be automatically updated by Obsidian – would it be an option to also have an option to add the TOC with the `callout` [syntax](https://help.obsidian.md/How+to/Use+call

[2022-05-31 09:54] jpalczewski opened #66 "Tag in heading renders with additional characters"
This is  probably the same kind of issues as #45 #62, but for clarity I thought that a new issue should be added.

To reproduce: add a toc and a random tag in the header:
Example:
![obraz](https://user-images.githubusercontent.com/4793526/171146703-99d903e6-9470-4a89-8ddc-51a5aba876b1.png)
Header:
![obraz](https://user-images.githubusercontent.com/4793526/171146753-24540fdb-f2eb-47b5-952e-e0139152

[2022-06-02 23:43] aress31 opened #67 "Support for Headers Within Lists"
Most - _if not **all**_ - of my notes are structured as follows:

![image](https://user-images.githubusercontent.com/11601622/171757111-12f3fd8a-6e69-4291-9396-6344ee971f42.png)

Non-headed items are not processed by the plugin - as expected. However, to get around this limitation, I have tried the following:

![image](https://user-images.githubusercontent.com/11601622/171757325-0ce7517a-8167-4340

[2022-06-11 05:36] Sandwich1699975 commented on #59
For anyone who really likes this feature, you can directly apply this to your whole document with some custom css:

[code]

Which looks like

<img width="508" alt="image" src="https://user-images.githubusercontent.com/50229842/173174424-2fa5ecc3-683c-40e8-beda-9fe696ce5b51.png">

[2022-06-18 14:46] korm opened #68 "Want to indent TOC levels without bullets or numbers"
I want my TOCs to use indented levels, without bullets or numbers.   Like this:

Level 1
....Level 1.1
.... ....Level 1.1.1
Level 2
.... Level 2.1

(The dots represent space; I'm not looking to show the dots in real life.)

I don't care if tabs or spaces are used.   I cannot see a way to make this happen in the Dynamic TOC settings.   I'm using the Minimal Style and the Style Settings Plugin, so m

[2022-06-19 06:28] Aidurber commented on #68
@korm that sounds like a false memory to me. The ToC is generated using markdown lists. so it should be possible to hide the indicators using some CSS.

If you add a custom CSS snippet inside `.obsidian/snippets/` you can make this work.

You can use this snippet:
[code]

1. Create a CSS file inside the snippets directory such as `.obsidian/snippets/list-hider.css`
2. Set the contents of `list-hid

[2022-06-19 06:28] #68 closed

[2022-06-19 11:28] siainbuletin commented on #65
bump

[2022-06-30 06:30] errysreez commented on #53
Hello,

If I may suggest an approach :

As mentionned by @tprotopopescu , it can become a handy bug, so instead of fullty getting rid of it (which requires rewriting the plugin so far), you can :
- add an option to pin the table (it will be no longer "dynamic") via a new option in the code block
- add the source file for the toc (we may this way, add the TOC of a note to an other one

So we will g

[2022-07-05 06:01] Cantej opened #69 "Heading text incorrect when there is link in heading"
I have a heading with a link and some text before and after it, as shown below.
<img width="565" alt="image" src="https://user-images.githubusercontent.com/35187140/177259340-7d470ebd-6892-47b7-902d-eb254e9bb41c.png">

### Expected Table of Contents
<img width="481" alt="image" src="https://user-images.githubusercontent.com/35187140/177259427-5459d084-2ccc-4aff-8db2-d46ff91b071e.png">

### What is

[2022-07-09 15:57] enly1 opened #70 "Feature Request: Extend Inline Rendering option to have prefix or pre/post text control"
Hi - the feature added in response to issue #42 is great, but would be better still if there was an option to wrap the breadcrumb style heading list with pre or post text:

Current rendering looks like :+1:

`Heading | Heading 2 | Heading 3`

Would be good if we had the option to pre-pend text "Quick Jump Links: " and get

`Quick Jump Links: Heading | Heading 2 | Heading 3`

by prepending text.

I

[2022-07-10 06:45] stephyswe opened #71 "Plugin don't found, don't work. edit: forgot to enable, how to remove this issue?"
forgot to enable, how to remove this issue?

[2022-07-10 08:13] #71 closed

[2022-07-10 17:45] enly1 opened #72 "Embedding a document with TOC shows parent page headings"
When you embed a page in another using [[!page], the toc renders the headings from the page that it was included in, not the content of the page that the toc is located in that has been embedded.

[2022-07-15 00:28] PiousAeneas commented on #53
I like the idea of an option to pin the table (maybe make it a feature request?), though I wonder if leaving this bug as the default (as implied by having a second “source” option) might make the plug-in more confusing since my sense is that the expected functionality is that the TOC _in_ a note will be the TOC _for_ that note.

[2022-07-29 14:16] ttionya opened #73 "[TOC] render incorrect in preview mode"
In preview mode, as long as theheading is not continuous, the `[TOC]` hierarchy does not seem to work properly.

Please see the picture below, it is very visual.

[code]

![1](https://user-images.githubusercontent.com/22736919/181779043-c0cfbd96-ce68-4f7e-8032-c4f16613c8c2.png)

[code]

![2](https://user-images.githubusercontent.com/22736919/181779234-b7244819-3332-4670-9a05-f7f3ad2c96a5.png)

Ver

[2022-07-29 15:05] ttionya commented on #73
Sorry, I didn't read the document carefully before.

[2022-07-29 15:05] #73 closed

[2022-08-05 13:51] frankhinek commented on #34
@Aidurber Any hope for fixing this so that Dynamic TOC and Live Preview happily co-exist?

[2022-08-08 08:38] hua03 opened #74 "feature rquest: nested number of TOC"
The numbers of child  is independent, like:

[code]

Most of the time, I hope they are related, like:

[code]

===================

Tips: CSS method `counters` can be used to solve this problem, it is recommended to add an list style `nested number`

[code]

[2022-08-10 02:57] spectrMeltdown opened #75 "Option to have to have toc items sorted alphabetically"
Was wondering we could get an option to have this. Just for organization and also to locate accidental duplicate headings.

[2022-08-10 07:37] mathisgauthey opened #76 "Option to generate a future-proof plain markdown TOC compatible everywhere like Markdown-All-In-One in VS CODE"
Hi there! First, thanks for your work here, your plugin is really useful.

However, Obsidian is meant to be used as a **future-proof** note-taking app. Hence, my question :

Would it be possible for you to create an option in your plugin to have an automated TOC generated in the markdown manual TOC style, like the one used by "Markdown all in one" extension from VS Code?

Link to the extension fun

[2022-08-12 20:48] dbarenholz opened #77 "BUG: table of contents in callouts does not update"
I wanted to put the TOC within a callout with the new built-in callout feature as follows (having selected the [TOC] option for compatibility.

[code]

Sadly, this does not work as shown in below error:

![image](https://user-images.githubusercontent.com/25849034/184442576-e5b78bd3-bc6b-4cba-8650-ac625a698090.png)

The TOC only updates when the note is closed and reopened.

**Error reproduction**:

[2022-08-12 20:49] dbarenholz commented on #77
I should mention that this is a new vault, and the DynTOC plugin is the only community plugin installed and active!

[2022-08-12 21:05] dbarenholz commented on #74
Courtesy of `sailKite#4202` in the discord for another option:

[code]